.my-work {
    background: linear-gradient(to right, #8750f7 10%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab_box {
    width: 400px;
    border-radius: 30px;
    background: black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.tab_btn {
    font-size: 16px;
    color: white;
    line-height: 1.2;
    padding: 15px 30px;
    border-radius: 50px;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.now-tab {
    position: absolute;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #8750f7 0%, #1a122a 100%);
}

/* .content_box {}

.content_box .content {
    display: none;
    animation: moving 0.5s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content_box .content.active {
    display: block;
} */

