.my-work {
    background: linear-gradient(to right, #8750f7 30%, #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab_box {
    width: 400px;
    border-radius: 30px;
    background: black;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.tab_btn {
    font-size: 16px;
    color: white;
    line-height: 1.2;
    padding: 15px 30px;
    border-radius: 50px;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.now-tab {
    position: absolute;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #8750f7 0%, #1a122a 100%);
}

.content {
    display: none;
    animation: moving 0.6s ease;
}

@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content.active {
    display: block;
}

.image-box {
    position: relative;
    background: #1b0f26;
    border-radius: 10px;
}

.project-image {
    width: 600px;
    height: 450px;
    object-fit: cover;
    padding: 40px 40px 4px 40px;
    filter: brightness(0.7);
}

.project-about {
    transform: translateX(-50%);
    margin-right: 10%;
    width: 92%;
    height: 120px;
    bottom: 5px;
    left: 50%;
    position: absolute;
    display: flex;
    background: linear-gradient(to right, #8750f7, #1a122a);
    border-radius: 10px;
    z-index: 9;
    opacity: 0;
    transition: all 0.3s ease;
}

.project-icon {
    margin: auto;
    margin-right: 40px;
    rotate: 140deg;
    transition: all 0.5s ease;
}

.image-box:hover {
    .project-icon {
        rotate: 505deg;
    }

    .project-about {
        opacity: 1;
        transform: translateX(-50%) translateY(-20px);
    }
}