.contact-text {
    background: linear-gradient(to right, var(--gradient_texta)40%, var(--gradient_textb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(26px,4vw,32px);
    font-weight: 800;
    margin-bottom: 18px;
    line-height: 1.2;
}

@media (max-width: 640px) {
    #Contact {
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
}

.form-container {
    width: 500px;
    background: linear-gradient(to top, #000000, #25152c) padding-box,
        linear-gradient(145deg, transparent, #34153d, transparent) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #aaaaaa;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    letter-spacing: 0.5px;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
    letter-spacing: 0.5px;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group textarea::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #c679fe;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #c679fe;
}

.form-container .form-group input:hover {
    outline: none;
    border-color: #c679fe;
}

.form-container .form-group textarea:hover {
    outline: none;
    border-color: #c679fe;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #d7d7d7;
    font-weight: 600;
    width: 40%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 12px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 10px;
    background-size: 200%;
    box-shadow: #7426985f 0px 5px 50px, #7426985e 0px 5px 40px;
    background-image: linear-gradient(to right, #c26dfe85 0%, #150c1b5e 50%, #c26dfe85 100%);
    transition: 0.5s;
}

.form-submit-btn:hover {
    background-position: -100%;
}

/* contact buttons */

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: top;
    gap: 20px;
    margin: 4px;
}

.contact-icon {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(144deg, #a250dd, #000000);
    padding: 10px;
    border-radius: 50%;
}

.contact-label {
    font-size: 1rem;
    color: var(--contact_label);
    margin: 0;
}

.contact-detail {
    font-size: 1.2rem;
    color: var(--contact_detail);
    font-weight: 500;
    position: relative;
}

@media (max-width: 640px) {
    .contact-icon {
        width: 45px;
        height: 45px;
    }
    .contact-label {
        font-size: 0.95rem;
    }
    .contact-detail {
        display: flex;
        font-size: 1.06rem;
    }
}

.contact-detail::after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 0%;
    position: absolute;
    width: 0%;
    height: 1.8px;
    background: linear-gradient(to right, #f0d9ff, #1c0c26);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, right;
}

.contact-detail:focus::after,
.contact-detail:hover::after {
    width: 100%;
    right: 0%;
}