/* Hero section */

.gradient-text {
    background: linear-gradient(to right, #bb5dfed7 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* profile picture section */

.images .dp-img {
    position: relative;
    border-radius: 30px;
}

.images::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: calc(100% - 125px);
    transform: translateX(-50%);
    border-radius: 50px 50px 30px 30px;
    pointer-events: none;
    background: linear-gradient(to right, #1a0f2e, #bb5dfed7);
    box-shadow: 5px 3px 15px rgba(209, 217, 230, 0.6), -5px -5px 15px rgba(255, 255, 255, 0.4);
}

@media (max-width: 640px) {
    .images::before {
        height: calc(100% - 85px);
    }
}

.images {
    width: 60%;
    position: relative;
    opacity: 0;
    animation: imageAni 1s ease forwards;
}

.dp-img {
    transition: all 0.8s ease;
}

.images::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 125px);
    border-radius: 50px;
    transition: all 0.8s ease;
    z-index: -2;
}

.images:hover::after {
    background: linear-gradient(to left, #1a0f2e, #bb5dfed7);
    box-shadow: 0px 0px 30px 1px #8750f7;
    transform: scale(1.02);
}

.dp-img:hover {
    transform: scale(1.02);
    transition-duration: 0.8s;
}

.images:hover::before {
    box-shadow: none;
    background: #1a0f2e;
    transition-duration: 1s;
}

@keyframes rotation_dp {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes imageAni {
    0% {
        opacity: 0.5;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* greetings style */

.icon_say-hi {
    width: 7rem;
    opacity: 0.2;
    transform-origin: 60% 90%;
    animation: say-hi 0.9s linear infinite alternate;
}

@keyframes say-hi {
    to {
        transform: rotate(28deg);
    }
}