.fbutton {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    gap: 8px;
}

.button__icon-wrapper {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.fbutton:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}

.fbutton:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}