@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: #ffffff;
  --section_bg: #f8f1ff;
  --nav_body: #f8f2fd;
  --nav_tittle: #8130bb;
  --nav_item: #111;
  --name_color: #2a1454;
  --gradient_texta: #ba5bff;
  --gradient_textb: #2a1454;
  --dp_Shadowa: #2e2e2eb9;
  --dp_Shadowb: #191919b6;
  --dev_about: #000;
  --about_light: #00000075;
  --edu_title: #222;
  --description: #111;
  --service_box: #fff;
}

[data-theme="dark"] {
  --body_background: #100b18;
  --section_bg: #000;
  --nav_body: #000;
  --nav_tittle: #be62ff;
  --nav_item: #ccc;
  --name_color: #fff;
  --gradient_texta: #c778ff;
  --gradient_textb: #fff;
  --dp_Shadowa: #d1d9e699;
  --dp_Shadowb: #ffffff66;
  --dev_about: #fff;
  --about_light: #ffffff55;
  --edu_title: #fff;
  --description: #eee;
  --service_box: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
  background-color: var(--body_background);
  transition: background-color 0.5s ease, color 0.5s ease, background 0.5s ease;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2a1454;
}

::-webkit-scrollbar-thumb {
  background: #bb5dfed7;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
