@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: #ffffff;
  --nav_body: #f8f2fd;
  --nav_item: #111;
}

[data-theme="dark"] {
  --body_background: #100b18;
  --nav_body: #000;
  --nav_item: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
  background-color: var(--body_background);
  transition: background-color 0.5s ease, color 0.5s ease, background 0.5s ease;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2a1454;
}

::-webkit-scrollbar-thumb {
  background: #bb5dfed7;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
